.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.root {
  font-family: Dosis !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.servicios .columns.is-gapless, .servicios .columns.is-gapless:not(:last-child) {
  margin-bottom: 0;
}
.columns.is-gapless:not(:last-child) {
  margin-bottom: 1.5rem;
}
.columns.is-gapless:not(:last-child) {
  margin-bottom: 1.5rem;
}
.columns:not(.is-desktop) {
  display: flex;
}
.columns.is-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.columns:not(:last-child) {
  margin-bottom: .75rem;
}
.columns:not(.is-desktop) {
  display: flex;
}
.columns.is-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.columns:not(:last-child) {
  margin-bottom: .75rem;
}
.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}
.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}
*, ::after, ::before {
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: inherit;
}

.columns.is-gapless > .column {
  margin: 0;
  padding: 0 !important;
}
.columns.is-gapless > .column {
  margin: 0;
  padding: 0 !important;
}
.servicios .column {
  display: flex;
}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}
*, ::after, ::before {
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: inherit;
}

.container {
  margin: 20px;
}

.column .service-box {
  width: 100%;
  padding: 40px 24px 45px;
  margin-top: 0;
  position: relative;
  text-align: center;
  transition: all .5s ease-out;
  max-width: 750px;
  background-color: #fff;
  box-shadow: 1px 0 0 0 #dae4e9,0 1px 0 0 #dae4e9,1px 1px 0 0 #dae4e9,inset 1px 0 0 0 #dae4e9,inset 0 1px 0 0 #dae4e9;
}

.MuiTypography-h4 .MuiTypography-h3 .MuiTypography-h2 .MuiButton-label {
  font-family: Dosis !important
}

.titulo-recuadro {
  font-size: 1.5rem !important;
}

.texto-recuadro .texto-boton {
  font-size: 1.2rem !important;
}

.bienvenido {
  font-size: 3rem !important;
  text-align: center;
}

.espaciado-arriba {
  margin-top: 3rem;
}

.espaciado-abajo {
  margin-bottom: 3rem;
}

.bienvenido-descripcion {
  font-size: 1.8rem !important;
  text-align: center;
}

.form-estadisticas {
  width: 100%;
  max-width: 500px;
  padding: 40px 24px 45px;
  margin-top: 0;
  position: relative;
  text-align: center;
  transition: all .5s ease-out;
}

.form-estadisticas-input {
  margin-bottom: 10px !important;
}

.chart {
  width: '100%';
  height: 300px;
  margin-bottom: 2rem;
}