.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.root {
  font-family: Dosis !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.servicios .columns.is-gapless, .servicios .columns.is-gapless:not(:last-child) {
  margin-bottom: 0;
}
.columns.is-gapless:not(:last-child) {
  margin-bottom: 1.5rem;
}
.columns.is-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.columns:not(:last-child) {
  margin-bottom: .75rem;
}
.columns.is-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

@media screen and (min-width: 601px) {
  .columns {
    display: flex;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}
*, ::after, ::before {
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: inherit;
}

.columns.is-gapless > .column {
  margin: 0;
  padding: 0 !important;
}
.columns.is-gapless > .column {
  margin: 0;
  padding: 0 !important;
}
.servicios .column {
  display: flex;
}
.column {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
  grid-column: span 3;
}
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}
*, ::after, ::before {
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: inherit;
}

.container {
  margin: 20px;
}

.column .service-box {
  width: 100%;
  padding: 40px 24px 45px;
  margin-top: 0;
  position: relative;
  text-align: center;
  transition: all .5s ease-out;
  background-color: #fff;
  box-shadow: 1px 0 0 0 #dae4e9,0 1px 0 0 #dae4e9,1px 1px 0 0 #dae4e9,inset 1px 0 0 0 #dae4e9,inset 0 1px 0 0 #dae4e9;
}

.MuiTypography-h4 .MuiTypography-h3 .MuiTypography-h2 .MuiButton-label {
  font-family: Dosis !important
}

.titulo-recuadro {
  font-size: 1.5rem !important;
}

.texto-recuadro .texto-boton {
  font-size: 1.2rem !important;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .bienvenido {
    font-size: 3rem !important;
    text-align: center;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .bienvenido {
    font-size: 1.5rem !important;
    text-align: center;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .bienvenido-descripcion {
    font-size: 1.8rem !important;
    text-align: center;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .bienvenido-descripcion {
    font-size: 1rem !important;
    text-align: center;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .header-title {
    font-size: 1rem !important;
    position: absolute;
    top: 20%;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .header-title {
    font-size: 0.5rem !important;
    position: absolute;
    top: 30%;
  }
}



.espaciado-arriba {
  margin-top: 3rem;
}

.espaciado-abajo {
  margin-bottom: 3rem;
}


.form-estadisticas {
  width: 100%;
  max-width: 500px;
  padding: 40px 24px 45px;
  margin-top: 0;
  position: relative;
  text-align: center;
  transition: all .5s ease-out;
}

.form-estadisticas-input {
  margin-bottom: 10px !important;
}

.content {
  width: 80%;
}

.estadisticas {
  display:grid;
  grid-gap: 20px; /* Espacio entre los elementos */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item {
  grid-column: span 3;
}

.chart-description {
  margin-top: 20px;
  margin-left: 50px;
  color: grey;
}

.table-description {
  margin-top: 20px;
  color: grey;
}

.custom-chart {
  width: 100%;
  height: 400px;
  margin-bottom: 8rem;
  float: left;
  margin-top: 2rem;
}

.tabla {
  width: '100%';
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.tabla h6 {
  font-size: 1rem;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.MuiTableCell-root {
  padding: 1px !important;
}

.widgetItem {
  grid-column: span 2;
}

.singleWidgetItem {
  grid-column: span 6;
}

.widget {
  /*
  --color: #000;
  background-color: var(--color) !important;
  */
}

.widget-data {
  --color: aqua;
  color: var(--color);
  text-align: center;
  width: 100%;
}

.widget-desc {
  text-align: center;
  width: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.separado {
  margin-left: 10px !important;
  margin-right: 10px !important;
}